
body {
    background-color: lightblue;

    
    }
    
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%
    }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }