body {
    background-color: lightblue;
    }


table, th, td {
      font-family: arial, sans-serif;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      border-collapse: separate;
      border: 1px solid;

    }


.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%
    }
    
.selected {
      background: lightblue;
  }
li {
      background: purple;
  }
li:hover { 
    background: gray;
}
li{
    background: lightgray;
    display:inline-block;
    width: 20%;
}
.title{
  text-align: center;

}

.menu{
  background: lightgray;
}

.primary{
  text-align: center;
}