body {
    background-color: lightblue;
    }


table {
      font-family: arial, sans-serif;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      border-collapse: separate;
    }

td {
      border: solid 2 px lightgrey;
    }

.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%
    }
    
.selected {
      background: lightblue;
  }
li {
      background: purple;
  }
li:hover { 
    background: gray;
}
li{
    background: lightgray;
    display:inline-block;
    width: 20%;
}
.menu{
  background: lightgray;
}
